body{
    background-color: #4f6d93;
    background-image: linear-gradient(to bottom,#ffffff, #4f6d93);
    background-repeat: no-repeat;
	color:#666666;
    font-family: Arial,Helvetica,sans-serif;
}

#wrapper{
    width: 80%;
    background-color: #90c7e3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow:3px 3px #333333;
}
header{
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background-color: #000033;
}
h1{
    color:#FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, Times New Roman, serif;
}

nav{
    padding: 20px;
    font-weight: bold;
    float: left;
    width: 160px;
}

nav a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 1.2em;
}

nav a:link{color: #000033;}
nav a:visited{color: #344873;}
nav a:hover{color: #ffffff;}

main{
   padding: 1px 20px 20px 20px;
    display: block;
    background: #ffffff;
    margin-left: 190px;
    padding-left: 30px;
}

h2{
    color: #3399CC;
    font-family: Georgia, Times New Roman, serif;
    text-shadow: 1px 1px 1px #cccccc;
}
#homehero{
    background-image:url(images/coasthero.jpg);
    height: 300px;
    background-size: 100% 100%;
    margin-left: 190px;
}

#yurthero{
    background-image: url(images/yurthero.jpg);
    height: 300px;
    background-size: 100% 100%;
    margin-left: 190px;
}

#trailhero{
    background-image: url(images/trailhero.jpg);
    height: 300px;
    background-size: 100% 100%;
    margin-left: 190px;
}
h3{
    font-family: Georgia, Times New Roman, serif;
    color: #000033;
}
main ul{
list-style-image: url(images/marker.gif);
}

dt{
    color: #000033;
}

.resort{
    color: #5C7FA3;
    font-weight: bold;
}

#contact{
    color: #666666;
    font-size: 90%
}
footer{
    background: #ffffff;
    margin-left: 190px;
    padding: 20px;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, Times New Roman, serif;
}